<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t("home.app"), root_path, id: "logo" %>
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t("home.name"), root_path %></li>
      <li><%= link_to t("help.name"), helf_path %></li>
      <li><%= link_to t("user.login"), signup_path %></li>
      <li><%= link_to t("en"), locale: :en %></li>
      <li><%= link_to t("vi"), locale: :vi %></li>
    </ul>
  </div>
</header>
